<div class="mostrar">
<app-botao (mySlider)="printAlert()"></app-botao>
</div>

<div class="cards">
<app-card bigger="small" titulo="Basic" [preco]= 'basic' storage="500 GB"users= "2"upto="3"(learnMore)="openSnackBar('Pacote Comprado!', 'OK')"></app-card>
<app-card bigger="bigger" titulo="Professional" [preco]= 'prof' storage="1 TB" users= "5"upto="10"(learnMore)="openSnackBar('Pacote Comprado!', 'OK')"></app-card>
<app-card bigger="small" titulo="Master" [preco]= 'master'storage="2 TB"users= "10"upto="20"(learnMore)="openSnackBar('Pacote Comprado!', 'OK')" ></app-card>
</div>
